@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html {
  font-size: 20px;
}

input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500; */
font-family: 'Roboto', sans-serif;
 
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:root {
  /* --mau_nen: #0F0823;
    --mau_game:#0F0823; */
  --mau_nen: #20232a;
  --mau_game: #20232a;
  --mau_xam: #f1f3f4;
}

#app {
  height: 100vh;
  width: 100%;

  background: var(--mau_game);

  display: none;
  /* border-left: 25px solid var(--mau_nen);
    border-right: 25px solid var(--mau_nen);
    border-top: 10px solid var(--mau_nen);
    border-bottom: 10px solid var(--mau_nen); */
}

#tien_do {
  box-sizing: border-box;
  width: 100%;

  height: 2%;
  background-color: var(--mau_xam);
  margin: auto;
  overflow: hidden;
}

#du_lieu_kiem_tra {
  padding-left: 22px;
  padding-right: 22px;
  width: 100%;
  height: 10%;
  display: flex;

  background: var(--mau_nen);

  color: white;
  font-size: 1rem;

  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  justify-content: space-between;
}

#noi_dung {
  width: 100%;
  height: 68%;
  background-color: #fff;
}

#button_check {
  width: 100%;
  height: 14%;
  background: var(--mau_nen);
  display: flex;
  justify-content: center;
  align-items: center;
}
#phan_tram {
  width: 0%;
  height: 100%;
  background-color: #e67e22;
}
#btn {
  display: none;
  width: 100%;
  height: 100%;
  background: #2899ff;
  margin: auto;

  border-radius: 10px;

  color: #fff;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

#btn_tiep_tuc_dung {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #2899ff;
  margin: auto;

  border-radius: 10px;

  color: #fff;

  justify-content: center;
  align-items: center;
}

#btn_tiep_tuc_sai {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ea2b2b;
  margin: auto;

  border-radius: 10px;

  color: #fff;
  justify-content: center;
  align-items: center;
}

#dash {
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://1.bp.blogspot.com/-JYi8f4MHjAY/Xt9XHwdJDOI/AAAAAAAACJE/bMM8VIeRsOkYia9BpGflAJprGbmZPgWrQCPcBGAsYHg/s1600/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  list-style-type: none;
  font-size: 20px;
}

#dash li {
  float: left;

  font-size: 1em;
  margin: 17px 17px 0px 0px;
  padding: 5px;
  text-align: center;
  border: none;
  color: #fff;
}

#container {
  width: 100%;
  height: 40%;
  font-size: 20px;
  background: var(--mau_nen);
}

#container button {
  font-size: 1em;
  margin: 17px 17px 0px 0px;
  padding: 5px;
  text-align: center;
  border: none;
  color: #fff;
}

#bang_true_false {
  width: 100%;
  height: 40%;
  background: var(--mau_nen);
  display: none;

  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
}

#end_app {
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  display: none;
  background: var(--mau_nen);
}

#diem_so {
  width: 150px;
  height: 50px;
  background-color: orangered;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#share {
  height: 60px;
  width: 200px;
  border-radius: 15px;
  background-color: #ea2b2b;
  color: white;
  font-size: 20px;
  margin: 40px auto;

  box-shadow: 0 5px #a70000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#share:active {
  box-shadow: none;
  background-color: #ea2b2b;

  /* transform: translateY(1px); */
}

#facebook {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;

  font-size: 20px;
  box-shadow: 0 5px #044fa0;
}

#facebook:active {
  box-shadow: none;
  background-color: #007bff;

  /* transform: translateY(1px); */
}

#menu {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  background-color: #ff0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;

  font-size: 20px;
  box-shadow: 0 5px #991724;
}

#menu:active {
  box-shadow: none;
  background-color: #ff0000;

  /* transform: translateY(1px); */
}

#nhap_ten {
  height: 100vh;
  width: 100%;
  background: var(--mau_nen);
  border: var(--mau_nen) 15px solid;
}
#nhap_form {
  height: 35%;
  width: 100%;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  box-sizing: border-box;
}

#xac_nhan {
  width: 100%;
  height: 65%;
  background: var(--mau_nen);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#btn_xac_nhan {
  display: flex;
  width: 290px;
  height: 50px;
  font-size: 30px;
  color: white;
  background: #2899ff;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

  border-radius: 15px;
  padding: 10px;
}

#am_thanh_true_false {
  display: none;
}

#am_thanh {
  width: 100%;
  height: 6%;
  background: var(--mau_xam);

  margin: auto;
}

#thong_bao_ten {
  width: 100%;
  height: 40%;
  background-color: #ea2b2b;
  font-size: 30px;
  color: white;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  display: none;
}
#du_lieu_tu_vung,
#du_lieu_cau_hoi,
#du_lieu_loi_dich {
  display: none;
}

audio {
  width: 100%;
  height: 100%;
}

#tieu_de {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 11, 11, 0.308);
}

#chu_de {
  display: none;
}

#bang_true_false span {
  color: #2f9dfe;
  font-size: 30px;
  font-weight: bold;
}

#bang_true_false h1 {
  color: #ea2b2b;
  font-size: 30px;
  font-weight: bold;
}

.name {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #00d4ff;
}
.name_tieu_de {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: rgb(177, 177, 177);
}

.hieu_chinh_share {
  font-size: 50px;
  margin-right: 20px;
}
.hieu_chinh_facebook {
  font-size: 50px;
  margin-right: 20px;
}

.trai_tim {
  font-size: 25px;
  color: red;
}
.bam_gio {
  font-size: 25px;
  color: #f1f3f4;
}
#ket_qua_time {
  width: 150px;
  height: 50px;
  background-color: #03a5c5;
  margin: 30px auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#nut_bam {
  /* background: var(--mau_nen); */

  width: 80%;
  height: 50%;
}

#container,
#dash {
  padding-left: 20px;
  padding-right: 20px;
}

#bang_true_false > p {
  color: white;
}
